/* index.html
*/
h2 {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
}

p {
  margin-bottom: 10px;
}

b {
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}
/* vim: ft=css ai ts=2 et nu
*/
